# Reading & Writing files using:
1. Python I/O
2. Pandas
3. JSON
4. Pickle

# 1. Python I/O
Basic python utility used to read text/binary files

### 1.a Using 'with' (Preferred)

A. For Writing, we use 'w' to write and 'a' to append.

'w' will replace the existing contents of the file with the new content that you pass.
<pre>
with open('file_name','w') as file_variable:
  file_variable.write(text_content)
    </pre>
    
'a' will append the existing contents of the file with the new content that you pass.
<pre>
with open('file_name','a') as file_variable:
  file_variable.write(text_content)
    </pre>

In [1]:
FILE_PATH = "demo_files/text_file.txt"

In [8]:
text = "First Line\nSecond Line\nThird Line"

In [10]:
text

'First Line\nSecond Line\nThird Line'

In [16]:
# Write Example
with open(FILE_PATH, "w") as file:
    file.write(text)

In [14]:
new_text_line = "\nFourth Line"

In [17]:
# Append Example
with open(FILE_PATH, "a") as file:
    file.write(new_text_line)

B. For Read, we use 'r' to read.
<pre>
with open('file_name','r') as file_variable:
    print(file_variable.read())
    </pre>

In [18]:
# Read Example
with open(FILE_PATH, "r") as file:
    read_text = file.read()

In [19]:
read_text

'First Line\nSecond Line\nThird Line\nFourth Line'

In [20]:
# Read lines as list
with open(FILE_PATH, "r") as file:
    line_list = file.readlines()

In [21]:
line_list

['First Line\n', 'Second Line\n', 'Third Line\n', 'Fourth Line']


#### Reading & writing binary files
The process remains same as above, you just have to add 'b' to the existing 'r', 'w' or 'a'.
Formats:

*Read*
<pre>
with open('file_name','rb') as file_variable:
    print(file_variable.readlines())
    print(file_variable.readline())
    </pre>
    
*Write*
<pre>
with open('file_name','wb') as file_variable:
  file_variable.write(text_content)
    </pre>
    
*Append*
<pre>
with open('file_name','ab') as file_variable:
  file_variable.write(text_content)
    </pre>
    
---
---

### 1.b Creating file object (NOT preferred)

#### Format:
*Read*
<pre>
file_obj = open('file_name', 'r')
print(file_obj.read())
file_obj.close()
</pre>
    
*Write*
<pre>
file_obj = open('file_name', 'w')
file_obj.write(text)
file_obj.close()
</pre>

*Append*
<pre>
file_obj = open('file_name', 'a')
file_obj.write(text)
file_obj.close()
</pre>

In [22]:
# Read Example

# Raad line
file = open(FILE_PATH, "r")
text2 = file.read()
file.close()

In [23]:
text2

'First Line\nSecond Line\nThird Line\nFourth Line'

In [24]:
# Read lines in list
file = open(FILE_PATH, "r")
text2 = file.readlines()
file.close()

In [27]:
# Write Example
file = open(FILE_PATH, "w")
file.write(text)
file.close()

In [28]:
# Append Example
file = open(FILE_PATH, "a")
file.write("\nFourth Line")
file.close()

# 2. Pandas 
Popularly used to work with spreadsheets and tabular data (csv/excel as well as other data like JSON)

### Read Data
**Read CSV file to pandas dataframe**
<pre>
csv_dataframe = pd.read_csv(CSV_PATH, sep="<< 'the separator used in csv file' >>")</pre>

**Read Excel file to pandas dataframe**
<pre>
excel_dataframe = pd.read_excel(EXCEL_PATH, sheet_name=<< 'sheet name in excel' >>)</pre>

In [29]:
# Read csv
CSV_PATH = "demo_files/csv_file.csv"

import pandas as pd

csv_dataframe = pd.read_csv(CSV_PATH)

In [30]:
csv_dataframe

   SrNo                          Name  Total
0     1                        Mordor     45
1     2  Free Peoples of Middle Earth     34
2     3                        Harrad     20
3     4                       Numenor      1

In [31]:
# Read excel
EXCEL_PATH = "demo_files/excel_file.xlsx"

sheet1_dataframe = pd.read_excel(EXCEL_PATH, sheet_name="Sheet1")
sheet2_dataframe = pd.read_excel(EXCEL_PATH, sheet_name="Sheet2")

In [32]:
sheet1_dataframe

   SrNo     Name  Total
0     1  English    100
1     2   French    100
2     3  Science    150
3     4     Math    150

In [33]:
sheet2_dataframe

   SrNo      Name  Score
0     1       Jim     68
1     2    Dwight     85
2     3  Griffith     97
3     4     Billy     45
4     5      Sean     70

### Write data

**Write dataframe to CSV file**
<pre>
dataframe.to_csv("csv_file_path.csv", index=False)
</pre>
**Write dataframe to Excel file**
<pre>
dataframe.to_to_excel("excel_file_path.xlsx", sheet_name="sheet_name", index=False)
</pre>

In [35]:
# Write to CSV
sheet1_dataframe.to_csv("demo_files/new_csv.csv", index=False)

In [42]:
# Write to Excel
# sheet2_dataframe, csv_dataframe
with pd.ExcelWriter("demo_files/new_excel_file.xlsx") as writer:
    sheet2_dataframe.to_excel(writer, sheet_name="first_sheet", index=False)
    csv_dataframe.to_excel(writer, sheet_name="second_sheet", index=False)

In [43]:
# Wite to JSON format
csv_dataframe.to_json("demo_files/c.json")

# 3. JSON
Used to read and write JSON files

**Write dictionary as JSON file**
<pre>
with open("json_file_name.json", "w") as file:
    json.dump(json_dict, file)
    </pre>

In [44]:
demo_dict = {"A": 1, "B": 2, "C": 3}

In [45]:
# Write
import json

with open("demo_files/test_json.json", "w") as file:
    json.dump(demo_dict, file)

**Read JSON file as dictionary**
<pre>
with open("json_file_name.json", "r") as file:
    json_dict = json.load(file)
    </pre>

In [46]:
# Read
with open("demo_files/df_to_json.json", "r") as file:
    df_object = json.load(file)

In [47]:
df_object

{'SrNo': {'0': 1, '1': 2, '2': 3, '3': 4},
 'Name': {'0': 'Mordor',
  '1': 'Free Peoples of Middle Earth',
  '2': 'Harrad',
  '3': 'Numenor'},
 'Total': {'0': 45, '1': 34, '2': 20, '3': 1}}

# 4. Pickle
Used to save data objects in pickle format

**Write dictionary to pickle file**
<pre>
with open("pickle_file_name.pickle", "wb") as file:
    pickle.dump(dictionary_object, file)
    </pre>

In [48]:
demo_dict = {"A": 1, "B": 2, "C": 3}

In [49]:
# Write
import pickle

with open("demo_files/pickle_file.pickle", "wb") as file:
    pickle.dump(demo_dict, file)

**Read pickle file as dictionary**
<pre>
with open("pickle_file_name.pickle", "rb") as file:
    dictionary_object = pickle.load(file)
    </pre>

In [50]:
# Read
with open("demo_files/pickle_file.pickle", "rb") as file:
    pickle_read_obj = pickle.load(file)

In [51]:
pickle_read_obj

{'A': 1, 'B': 2, 'C': 3}

---

END of the Notebook<br>
Author: Shounak Deshpande (shounak.python@gmail.com)<br>
Youtube: https://www.youtube.com/channel/UCpODmuqv_ljQ_vMYwO71a_g