# Introduction to Plotly
Plotly is a Data Visualization tool. <br> Plotly supports Python, R, Julia, Matplotlib and Javascript.
Plotly supports a wide range of graphs.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCAxdcJaYusIlbPMYKR9sFzo6GiL5H6xvHHCTEsg56VDIJgAnfENB5nz_7uNwzLjMOIA&usqp=CAU" />

# Plots/Charts Discussed in the Notebook

|  |  |  |  |
| :---: | :---: | :---: | :---: |
| 1. Histogram | 2. Scatter Plot | 3. Bar Chart | 4. Pie Chart |
| <img src="basic/hist.png" />  | <img src="basic/scatter.png" />  | <img src="basic/bar.png" />  | <img src="basic/pie.png" />  |

---

|  |  |  |  |
| :---: | :---: | :---: | :---: |
| 5. Violin Plot | 6. Box Plot | 7. Area Plot | 8. Line Plot |                                
| <img src="basic/violin.png" />  | <img src="basic/box.png" />  | <img src="basic/area.png" />  | <img src="basic/line.png" />  |

In [1]:
# install plotly (in case plotly is not installed on your system)
# !pip install plotly

In [2]:
# import libraries
import warnings
warnings.filterwarnings('ignore')
from sklearn.datasets import load_iris
import pandas as pd
import plotly.express as px

In [4]:
# Data for Visualizaiton
iris_data = load_iris()
df = pd.DataFrame(data=iris_data.data, columns=iris_data.feature_names)
df['target'] = iris_data.target
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target']
df.target.replace({0:'setosa', 1:'versicolor', 2:'virginica'}, inplace=True)
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

# 1. Histogram

`fig = px.histogram(data_frame=DATAFRAME, x=[NUM_COL1, NUM_COL2, ...], barmode="overlay")`<br><br>
`fig.update_layout(title_text=TITLE, xaxis_title=X_TITLE, height=400, width=600)`<br><br>
`fig.show()`

In [ ]:
# Code Block

# 2. Scatter-plot

`fig = px.scatter(data_frame=DATAFRAME, x=NUM_COL1, y=NUM_COL2, color=LABEL_COL)`<br><br>
`fig.update_layout(title_text=TITLE, xaxis_title=X_TITLE, height=400, width=600)`<br><br>
`fig.show()`

In [ ]:
# Code Block

# 3. Bar-chart

`fig = px.bar(data_frame=DATAFRAME, x=DATAFRAME.index, y=DATAFRAME.columns)`<br><br>
`fig.update_layout(title_text=TITLE, xaxis_title=X_TITLE, yaxis_title=Y_TITLE, height=400, width=600)`<br><br>
`fig.show()`

In [7]:
df_bar_max = df.groupby(by='target').max()
df_bar_max

            sepal_length  sepal_width  petal_length  petal_width
target
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [ ]:
# Code Block

# 4. Pie-chart

`fig = px.pie(data_frame=DATAFRAME, names=CLASS_COL, values=NUM_COL)`<br><br>
`fig.update_layout(title_text=TITLE, height=400, width=400)`<br><br>
`fig.show()`

In [9]:
df_pie = df.groupby(by="target", as_index=False).mean()[['target','petal_length']]
df_pie

       target  petal_length
0      setosa         1.462
1  versicolor         4.260
2   virginica         5.552

In [ ]:
# Code Block

# 5. Violin-plot

`fig = px.violin(data_frame=DATAFRAME, y=[NUM_COL1, NUM_COL2, ...], color=LABEL_COL, box=True)`<BR><BR>
`fig.update_layout(title_text=TITLE, xaxis_title=X_TITLE, yaxis_title=Y_TITLE, height=400, width=600)`<BR><BR>
`fig.show()`

In [ ]:
# Code Block

# 6. Box-plot

`fig = px.box(data_frame=DATAFRAME, y=[NUM_COL1, NUM_COL2, ...], color=LABEL_COL)`<BR><BR>
`fig.update_layout(title_text=TITLE, xaxis_title=X_TITLE, yaxis_title=Y_TITLE, height=400, width=600)`<BR><BR>
`fig.show()`

In [ ]:
# Code Block

# 7. Area-plot

`fig = px.area(data_frame=DATAFRAME, y=[NUM_COL1, NUM_COL2])`<BR><BR>
`fig.update_layout(title_text=TITLE, xaxis_title=X_TITLE, width=600, height=400)`<BR><BR>
`fig.show()`

In [ ]:
# Code Block

# 8. Line-plot

`fig = px.line(data_frame=DATAFRAME, y=NUM_COL)`<BR><BR>
`fig.update_layout(title_text=TITLE, xaxis_title=X_TITLE, width=600, height=400)`<BR><BR>
`fig.show()`

In [ ]:
# Code Block

END of the Notebook<br>
Author: Shounak Deshpande (shounak.python@gmail.com)<br>
Youtube: https://www.youtube.com/channel/UCpODmuqv_ljQ_vMYwO71a_g