# Plots/Charts Discussed in the Notebook

|  |  |  |
| :---: | :---: | :---: |
| 1. Timeline | 2. Funnel | 3. Sunburst |
| <img src="advanced/timeline.png" />  | <img src="advanced/funnel.png" />  | <img src="advanced/sunburst.png" />  |

---

|  |  |  |
| :---: | :---: | :---: |
| 5. Treemap | 6. Heatmap | 7. Coropleth |
| <img src="advanced/treemap.png" />  | <img src="advanced/heatmap.png" />  | <img src="advanced/coropleth.png" />  |

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import plotly.express as px
import pandas as pd
raw_df = pd.read_csv("players_22.csv")

In [4]:
necessary_cols = ['short_name','overall','player_positions','value_eur','league_name','club_name', 'nationality_name','club_joined','club_contract_valid_until']
df = raw_df[necessary_cols]
df_mufc = df[df["club_name"]=="Manchester United"]

In [5]:
# Convert dates to datetime
df_mufc.club_joined=pd.to_datetime(df_mufc.club_joined.apply(lambda x: x.replace("-","/")))
df_mufc.club_contract_valid_until=df_mufc.club_contract_valid_until.apply(lambda x: f"{str(int(x))}/6/30")
df_mufc.club_contract_valid_until=pd.to_datetime(df_mufc.club_contract_valid_until)

# 1. Timeline (Gantt Charts)

`fig = px.timeline(data_frame=DATAFRAME, x_start=START_DATE, x_end=END_DATE,y=COL2, color=PARAM)`<br><br>
`fig.layout(title_text=TITLE)`<br><br>
`fig.show()`

In [ ]:
# Dataframe of players at the club who are from England
timeline_df=df_mufc[df_mufc.nationality_name=="England"]

In [ ]:
# Code Block

# 2. Funnel

`fig = px.funnel(data_frame=DATAFRAME, x=COL1, y=COL2)`<br><br>
`fig.update_layout(title_text=TITLE, width=500, height=500)`<br><br>
`fig.show()`

In [ ]:
# Let us apply funnel to players from England and check their overall
funnel_df = df_mufc[df_mufc.nationality_name=="England"]

In [ ]:
# Code Block

# 3. Sunburst

`fig = px.sunburst(data_frame=DATAFRAME, path=[PARENT, CHILD, GRANDCHILD, ...])`<br><br>
`fig.update_layout(title_text=TITLE, width=500, height=500)`<br><br>
`fig.show()`

In [ ]:
# Code Block

# 4. Treemap

`fig = px.treemap(data_frame=treemap_df, path=[PARENT, CHILD, GRANDCHILD, ...])`<br><br>
`fig.update_layout(title_text=TITLE, width=1000, height=400)`<br><br>
`fig.show()`

In [32]:
# dataset of players whose overall is above 80 
treemap_df = df_mufc[df_mufc.overall > 80]

In [31]:
# Code Block

# 5. Heatmap

`fig = px.density_heatmap(data_frame=DATAFRAME, x=COL1, y=COL2)`<br><br>
`fig.update_layout(title_text=TITLE, height=400, width=600)`<br><br>
`fig.show()`

In [ ]:
# Code Block

# 6. Choropleth

`fig = px.choropleth(data_frame=DATAFRAME, locations=ISO_COL, color=NUM_COL, color_continuous_scale=COLOR_SCHEME)`<br><br>
`fig.update_layout(title_text=TITLE_TEXT)`<br><br>
`fig.show()`
<br><br>
List of color schemes can be found in `px.colors.sequential.<<colors>>`

In [12]:
import pycountry

# Let us form a dataset of the players whose overall is above 80
above_80 = raw_df[raw_df.overall > 80]
choro_df = pd.DataFrame(above_80.nationality_name.value_counts()).reset_index()
choro_df.columns = ["name","count"]

def country_iso(country:str):
    for item in pycountry.countries:
        if item.name == country:
            return item.alpha_3
        
choro_df.insert(1, "iso", choro_df.loc[:,'name'].apply(lambda x: country_iso(x)))
choro_df.head(3)

     name  count
0   Spain     60
1  Brazil     41

In [ ]:
# Code Block

END of the Notebook<br>
Author: Shounak Deshpande (shounak.python@gmail.com)<br>
Youtube: https://www.youtube.com/channel/UCpODmuqv_ljQ_vMYwO71a_g